@model CryptoMeta.Models.BlogModel

@{
    ViewData["Title"] = "Create";
}
<script src="~/ckeditor5/build/ckeditor.js"></script>
<h1>Create</h1>

<h4>Blog</h4>
<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Title" class="control-label">Başlık giriniz</label>
                <input asp-for="Title" class="form-control w-50" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <textarea asp-for="BlogDescription" class="form-control" id="editor"></textarea>
                <span asp-validation-for="BlogDescription" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <strong>Makale için resim seçiniz: </strong>
                <div class="col-sm-10">
                    <input type="file" name="file">
                    <span asp-validation-for="BlogImageUrl" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group mb-2 w-25">
                <label asp-for="CategoryId" class="control-label">Kategori seçiniz</label>
                <select asp-for="CategoryId" class="form-select" asp-items="ViewBag.CategoryId"></select>
            </div>
            <input type="submit" value="Create" class="btn btn-primary" />

        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .then(editor => {
                console.log(editor);
            })
            .catch(error => {
                console.error(error);
            });

    </script>
}
